body{
    margin: 0; /* 外边距 */
    padding: 0;/* 内边距 */
    background: url(../资源/首页01.png) no-repeat;/*插入图片且图片不重复 */
    background-size: cover;    /* 图片铺满 */
}
.box{
    /* 类选择器 */
    
    width: 380px;
    background:rgba(16, 2, 2, 0.4);    /* 选择颜色 a是透明度的*/
    padding: 40px;
    text-align: center;    /* 位置在中央 */
    margin:5% auto;  /*  并且将盒子整体下降5%,自动选择外边距 */
    color: aliceblue;
    font-family:"黑色";    /* 字体设置 */
}
.box-img{
    /* 改造头像图片 */
    border-radius: 50%;    /* 允许设置元素外边框圆角 */
    width: 120px;
	height: 120px;
}
.box h1{
    /* 改造标题 */
    margin-top: 10px;    /* 上边距 */
    letter-spacing: 4px;    /* 设置字间距 */
    font-weight: 80;    /* 字体粗细 */
    font-size: 30px;    /* 字体大小 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box h6{
    margin-top: -10px;
	margin-bottom: 50px;
	font-size: 15px;
	font-weight: 50;
}
ul{
    /* 无序元素选择器 */
    margin: 0;
	padding: 0;
}
.box li{
	width: 120px;
	height: 30px;
   margin-bottom: 30px;   /* 外边距底部 */
	border: 2px solid #3F6580;    /* 两像素的边框 颜色为墨蓝色 */
	border-radius:24px ;    /* 制作圆角 */
	display: inline-block;
	margin: 6px;
	list-style: none;    /* 设置列表项目样式为不使用项目符号 */
	text-align: center;
	line-height: 30px;
}
.box li a{
	margin-top: 5px;
	padding: 5px 15px 5px 15px;
	color: white;
	text-decoration: none;/* 表示的是文本没有下划线，一般用来去除a标签默认样式的下划线 */
	font-size: 20px;
	font-weight: 90;
	font-family: "century gothic",sans-serif;    /* font字体的意思 */

	letter-spacing: 2px;
}
.box li:hover{
	color: #b9b9b9;
	box-shadow: 0 0 10px #3F6580,0 0 40px #3F6580,0 0 80px #3F6580;
}